body {
    font-family: helvetica;
}

.navbar {
    color: white;
    direction: rtl;
}
.navbar li {
    display: inline;
}
.navbar li a:hover {
    color: black !important;
}

.mainNews ul li {
    list-style: none;
    margin-bottom: 1px;

    padding: 10px;
}
.mainNews ul li:hover {
    list-style: none;

    margin-bottom: 1px;
}
.mainNews ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.mainNews ul li a {
    color: black;
    text-decoration: none;
}
